#wifi {
  display: flex;
  justify-content: flex-end;
  color: #ff0000;
  font-size: 25px;
  padding-top: 10px;
  padding-right: 50px;
}

#wifi table {
  justify-content: flex-end;
  min-width: 200px;
}

.text-primary {
  color: red;
}
.text-secondary {
  color: grey;
}
